In [1]:
import pandas as pd

In [14]:
dataframe = pd.DataFrame(columns = ['X','Y','Z'])
dataframe['X'] = ['a','e','c','d','b']
dataframe['Y'] = ['r','t','f','r','g']
dataframe['Z'] = ['t','y','h','y','k']
mylist = ['a','e','t','f', 'k']

In [20]:
dataframe

   X  Y  Z
0  a  r  t
1  e  t  y
2  c  f  h
3  d  r  y
4  b  g  k

In [25]:
mylist

['a', 'e', 't', 'f', 'k']

In [32]:
dataframe[dataframe['X'].isin(mylist)]

   X  Y  Z
0  a  r  t
1  e  t  y

In [33]:
lst_idx_x = dataframe[dataframe['X'].isin(mylist)].index
lst_idx_x

Int64Index([0, 1], dtype='int64')

In [35]:
dataframe[dataframe['Y'].isin(mylist)]

   X  Y  Z
1  e  t  y
2  c  f  h

In [36]:
lst_idx_y = dataframe[dataframe['Y'].isin(mylist)].index
lst_idx_y

Int64Index([1, 2], dtype='int64')

In [1]:
diff_idx = lst_idx_x.difference(lst_idx_y)
diff_idx

NameError: name 'lst_idx_x' is not defined